<div
  class="pt-20 pb-8 px-40 flex flex-col gap-[3.063rem] max-h-[15.563rem] h-full bg-color-neutralOne"
>
  <div class="flex justify-between w-full">
    <div class="max-h-[2rem] h-full w-full">
      <div class="flex items-center gap-8">
        <span class="text-2xl font-semibold text-white">3legant. </span>

        <div class="h-6 w-[0.0625rem] bg-white"></div>

        <span class="text-base font-medium text-color-neutralSeven"
          >Gift & Decoration Store
        </span>
      </div>
    </div>
    <div class="max-h-[3.5rem] h-full w-full flex gap-10 justify-end">
      @for (route of navRoutes; track route.id) {
      <li
        class="list-none cursor-pointer text-base text-white font-normal hover:text-color-neutralFour hover:transition-all"
      >
        {{ route.name }}
      </li>
      }
    </div>
  </div>

  <div class="max-h-[3.5rem] h-full py-4 flex justify-between items-center">
    <div class="flex gap-7">
      <span class="flex text-color-neutralSix"
        >Copyright © 2023 3legant. All rights reserved</span
      >
      <span class="flex text-color-neutralSeven">Privacy Policy</span>
      <span class="flex text-color-neutralSeven">Terms of Use</span>
    </div>
    <div class="flex gap-6">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="white"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          x="2"
          y="2"
          width="20"
          height="20"
          rx="4"
          stroke="#141718"
          stroke-width="1.5"
        />
        <circle cx="18" cy="6" r="1" fill="#141718" />
        <circle cx="12" cy="12" r="5" stroke="#141718" stroke-width="1.5" />
      </svg>

      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="white"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M18 3H15C12.2386 3 10 5.23858 10 8V10H6V14H10V21H14V14H18V10H14V8C14 7.44772 14.4477 7 15 7H18V3Z"
          stroke="#141718"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>

      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="white"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          x="2"
          y="3"
          width="20"
          height="18"
          rx="4"
          stroke="#141718"
          stroke-width="1.5"
        />
        <path
          d="M10.4472 8.72361L15.2111 11.1056C15.9482 11.4741 15.9482 12.5259 15.2111 12.8944L10.4472 15.2764C9.78231 15.6088 9 15.1253 9 14.382V9.61803C9 8.87465 9.78231 8.39116 10.4472 8.72361Z"
          stroke="#141718"
          stroke-width="1.5"
          stroke-linecap="round"
        />
      </svg>
    </div>
  </div>
</div>
