<div
  class="bg-white flex justify-between max-w-[70rem] w-full max-h-[5.5rem] h-full"
>
  <div class="flex flex-col">
    <span class="text-4xl font-semibold text-color-primary flex flex-col">{{
      computedTitle()
    }}</span>
  </div>
  <div
    [routerLink]="['/home']"
    class="flex items-end gap-2 underline cursor-pointer"
  >
    <span>{{ more() }}</span>
    <a>
      <svg
        class="underline"
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M4.16666 10H15.8333"
          stroke="#141718"
          stroke-width="1.25"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M10.8333 15L15.8333 10"
          stroke="#141718"
          stroke-width="1.25"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M10.8333 5L15.8333 10"
          stroke="#141718"
          stroke-width="1.25"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </a>
  </div>
</div>
