<!-- Mobile Devices -->
<div class="max-h-[3.75rem] flex justify-between bg-white py-4 px-8 m-auto">
  <div class="flex items-center justify-start">
    <svg
      class=""
      width="12"
      height="10"
      viewBox="0 0 12 10"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1 1H11M1 5H11M1 9H11"
        stroke="#141718"
        stroke-width="1.5"
        stroke-linecap="round"
      />
    </svg>
  </div>
  <div class="flex items-center justify-start"></div>
</div>
