<!-- Desktop Devices -->
<div class="max-h-[3.75rem] flex justify-between bg-white py-4 px-40 m-auto">
  <div class="flex items-center justify-start gap-2">
    <!-- Left Part -->
    <button class="hidden" (click)="openMenu()">
      <svg
        class="size-4"
        width="12"
        height="10"
        viewBox="0 0 12 10"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1 1H11M1 5H11M1 9H11"
          stroke="#141718"
          stroke-width="1.5"
          stroke-linecap="round"
        />
      </svg>
    </button>

    <span class="text-color-primary text-2xl font-medium">3legant. </span>
  </div>

  <!-- Center Part -->
  <div class="flex flex-row gap-10 items-center justify-center">
    @for (nav of navRoutes; track nav.id) {
    <li
      [routerLink]="[nav.route]"
      [ngClass]="
        currentURL === nav.route
          ? 'list-none cursor-pointer text-base  text-color-primary font-semibold hover:text-color-neutralThree hover:transition-all'
          : 'list-none cursor-pointer text-base text-color-neutralFour font-semibold hover:text-color-neutralThree hover:transition-all'
      "
    >
      {{ nav.name }}
    </li>
    }
  </div>

  <!-- Right Part -->
  <div [routerLink]="['/cart']" class="flex items-center justify-start gap-4">
    <!-- Search -->
    <button class="cursor-pointer">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M18.5 18.5L22 22M21 11.5C21 6.25329 16.7467 2 11.5 2C6.25329 2 2 6.25329 2 11.5C2 16.7467 6.25329 21 11.5 21C16.7467 21 21 16.7467 21 11.5Z"
          stroke="#141718"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>

    <!-- Profile -->
    <button class="cursor-pointer">
      <svg
        width="22"
        height="22"
        viewBox="0 0 22 22"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M17.5588 18.5488C16.5654 15.8918 14.0036 14 11 14C7.99638 14 5.4346 15.8918 4.44117 18.5488M17.5588 18.5488C19.6672 16.7154 21 14.0134 21 11C21 5.47715 16.5228 1 11 1C5.47715 1 1 5.47715 1 11C1 14.0134 2.33285 16.7154 4.44117 18.5488M17.5588 18.5488C15.8031 20.0756 13.5095 21 11 21C8.49052 21 6.19694 20.0756 4.44117 18.5488M14 8C14 9.65685 12.6569 11 11 11C9.34315 11 8 9.65685 8 8C8 6.34315 9.34315 5 11 5C12.6569 5 14 6.34315 14 8Z"
          stroke="#141718"
          stroke-width="1.5"
          stroke-linejoin="round"
        />
      </svg>
    </button>

    <!-- Cart and Notifications Area -->
    <button class="cursor-pointer gap-1 flex items-center">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M9 6L9 7C9 8.65685 10.3431 10 12 10C13.6569 10 15 8.65685 15 7V6"
          stroke="#141718"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M15.6115 3H8.38848C6.43313 3 4.76436 4.41365 4.44291 6.3424L2.77624 16.3424C2.36988 18.7805 4.25006 21 6.72182 21H17.2781C19.7499 21 21.6301 18.7805 21.2237 16.3424L19.557 6.3424C19.2356 4.41365 17.5668 3 15.6115 3Z"
          stroke="#141718"
          stroke-width="1.5"
          stroke-linejoin="round"
        />
      </svg>

      <app-shop-notifications />
    </button>
  </div>
</div>
