<div class="flex flex-col gap-6 rounded-2xl shadow-md">
  <div
    class="flex cursor-pointer hover:opacity-80 hover:transition-all hover:scale-100"
  >
    <img
      [routerLink]="['/articles']"
      class="rounded-2xl"
      [src]="article()?.image"
      [alt]="article()?.description"
    />
  </div>

  <div class="flex flex-col gap-2 p-5">
    <span class="flex text-color-neutralThree font-semibold">{{
      article()?.description
    }}</span>
    <div class="flex flex-row items-center gap-2 cursor-pointer">
      <span
        class="text-base font-semibold underline"
        [routerLink]="['/articles']"
        >{{ article()?.readMoreText }}</span
      >

      <button [routerLink]="['/articles']" class="flex">
        <div [innerHTML]="article()!.readMoreIcon | safe : 'html'"></div>
      </button>
    </div>
  </div>
</div>
