<!-- Home Component -->
<div class="w-full m-auto bg-white">
  <!-- Limited Offer Component -->
  <app-limited-offer />

  <!-- Navbar Component -->
  <app-navbar />

  <!-- Carrousel -->
  <app-carrousel />

  <!-- Banner Grid -->
  <app-banner-grid />

  <!-- New Arrivals -->
  <app-new-arrivals />

  <!-- Input Search -->
  <app-searchbar (searchbarInputText)="searchbarInputText($event)" />

  <!-- Product List -->
  <app-product-list [searchbarText]="searchbarText" />

  <!-- Values Cards -->
  <app-values />

  <!-- Price Banner -->
  <app-prices-banner />

  <!-- Article Section -->
  <app-blog-section />

  <!-- Newsletter Section -->
  <app-newsletter />

  <!-- Footer Section -->
  <app-footer />
</div>
