<div class="flex flex-row">
  <div
    class="border-solid border-b-color-neutralFour max-w-[46rem] w-full bg-[url('/assets/images/png/login.png')] bg-cover"
  >
    <div class="flex pt-8 justify-center">
      <span class="font-semibold text-color-primary text-3xl">3legant.</span>
    </div>
  </div>

  <div class="w-[19.438rem] max-w-[19.438rem] m-auto py-8 flex flex-col gap-8">
    <form class="flex flex-col gap-6" [formGroup]="formGroup">
      <div class="flex flex-col gap-6">
        <span class="text-3xl font-semibold text-color-primary">Sign Up</span>
        <span class="text-color-neutralFour text-base"
          >Already have an account?
          <a
            [routerLink]="['/sign-in']"
            class="text-base cursor-pointer text-color-green"
            >Sign In</a
          ></span
        >
      </div>

      <!-- Name Input Validator -->
      <div class="flex flex-col">
        <input
          maxlength="26"
          minlength="6"
          formControlName="name"
          placeholder="Your name"
          class="border rounded-sm py-2.5 indent-2 outline-color-blue border-b-color-neutralFour placeholder-color-neutralFour"
        />

        @if(formGroup.get('name')?.hasError('required')){
        <div class="flex gap-2 items-center">
          <svg
            class="mt-[0.3rem]"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.375 8.375L8.40957 8.35771C8.88717 8.11891 9.42493 8.55029 9.29542 9.06831L8.70458 11.4317C8.57507 11.9497 9.11283 12.3811 9.59043 12.1423L9.625 12.125M16.5 9C16.5 13.1421 13.1421 16.5 9 16.5C4.85786 16.5 1.5 13.1421 1.5 9C1.5 4.85786 4.85786 1.5 9 1.5C13.1421 1.5 16.5 4.85786 16.5 9ZM9 5.875H9.00625V5.88125H9V5.875Z"
              stroke="#CD3636"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p class="text-color-red py-1">Please, type something</p>
        </div>
        } @else if(formGroup.get('name')?.hasError('minlength')) {
        <div class="flex gap-2 items-center">
          <svg
            class="mt-[0.3rem]"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.375 8.375L8.40957 8.35771C8.88717 8.11891 9.42493 8.55029 9.29542 9.06831L8.70458 11.4317C8.57507 11.9497 9.11283 12.3811 9.59043 12.1423L9.625 12.125M16.5 9C16.5 13.1421 13.1421 16.5 9 16.5C4.85786 16.5 1.5 13.1421 1.5 9C1.5 4.85786 4.85786 1.5 9 1.5C13.1421 1.5 16.5 4.85786 16.5 9ZM9 5.875H9.00625V5.88125H9V5.875Z"
              stroke="#CD3636"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p class="text-color-red py-1">Invalid Minimun Length</p>
        </div>
        } @else if(formGroup.get('name')?.hasError('maxlength')) {
        <div class="flex gap-2 items-center">
          <svg
            class="mt-[0.3rem]"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.375 8.375L8.40957 8.35771C8.88717 8.11891 9.42493 8.55029 9.29542 9.06831L8.70458 11.4317C8.57507 11.9497 9.11283 12.3811 9.59043 12.1423L9.625 12.125M16.5 9C16.5 13.1421 13.1421 16.5 9 16.5C4.85786 16.5 1.5 13.1421 1.5 9C1.5 4.85786 4.85786 1.5 9 1.5C13.1421 1.5 16.5 4.85786 16.5 9ZM9 5.875H9.00625V5.88125H9V5.875Z"
              stroke="#CD3636"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p class="text-color-red py-1">Invalid Maximun Length</p>
        </div>
        } @else {
        <div class="flex gap-2 items-center">
          <svg
            class="size-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 48 48"
          >
            <path
              fill="#c8e6c9"
              d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"
            />
            <path
              fill="#4caf50"
              d="M34.586,14.586l-13.57,13.586l-5.602-5.586l-2.828,2.828l8.434,8.414l16.395-16.414L34.586,14.586z"
            />
          </svg>
          <p class="text-color-green py-1">Valid Name</p>
        </div>
        }
      </div>

      <!-- Username Input Validator -->
      <div class="flex flex-col">
        <input
          maxlength="26"
          minlength="6"
          formControlName="username"
          placeholder="Username"
          class="border rounded-sm py-2.5 indent-2 outline-color-blue border-b-color-neutralFour placeholder-color-neutralFour"
        />

        @if(formGroup.get('username')?.hasError('required')){
        <div class="flex gap-2 items-center">
          <svg
            class="mt-[0.3rem]"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.375 8.375L8.40957 8.35771C8.88717 8.11891 9.42493 8.55029 9.29542 9.06831L8.70458 11.4317C8.57507 11.9497 9.11283 12.3811 9.59043 12.1423L9.625 12.125M16.5 9C16.5 13.1421 13.1421 16.5 9 16.5C4.85786 16.5 1.5 13.1421 1.5 9C1.5 4.85786 4.85786 1.5 9 1.5C13.1421 1.5 16.5 4.85786 16.5 9ZM9 5.875H9.00625V5.88125H9V5.875Z"
              stroke="#CD3636"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p class="text-color-red py-1">Please, type something</p>
        </div>
        } @else if(formGroup.get('username')?.hasError('minlength')) {
        <div class="flex gap-2 items-center">
          <svg
            class="mt-[0.3rem]"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.375 8.375L8.40957 8.35771C8.88717 8.11891 9.42493 8.55029 9.29542 9.06831L8.70458 11.4317C8.57507 11.9497 9.11283 12.3811 9.59043 12.1423L9.625 12.125M16.5 9C16.5 13.1421 13.1421 16.5 9 16.5C4.85786 16.5 1.5 13.1421 1.5 9C1.5 4.85786 4.85786 1.5 9 1.5C13.1421 1.5 16.5 4.85786 16.5 9ZM9 5.875H9.00625V5.88125H9V5.875Z"
              stroke="#CD3636"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p class="text-color-red py-1">Invalid Minimun Length</p>
        </div>
        } @else if(formGroup.get('username')?.hasError('maxlength')) {
        <div class="flex gap-2 items-center">
          <svg
            class="mt-[0.3rem]"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.375 8.375L8.40957 8.35771C8.88717 8.11891 9.42493 8.55029 9.29542 9.06831L8.70458 11.4317C8.57507 11.9497 9.11283 12.3811 9.59043 12.1423L9.625 12.125M16.5 9C16.5 13.1421 13.1421 16.5 9 16.5C4.85786 16.5 1.5 13.1421 1.5 9C1.5 4.85786 4.85786 1.5 9 1.5C13.1421 1.5 16.5 4.85786 16.5 9ZM9 5.875H9.00625V5.88125H9V5.875Z"
              stroke="#CD3636"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p class="text-color-red py-1">Invalid Maximun Length</p>
        </div>
        } @else {
        <div class="flex gap-2 items-center">
          <svg
            class="size-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 48 48"
          >
            <path
              fill="#c8e6c9"
              d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"
            />
            <path
              fill="#4caf50"
              d="M34.586,14.586l-13.57,13.586l-5.602-5.586l-2.828,2.828l8.434,8.414l16.395-16.414L34.586,14.586z"
            />
          </svg>
          <p class="text-color-green py-1">Valid Name</p>
        </div>
        }
      </div>

      <!-- Gmail Input Validator -->
      <div class="flex flex-col">
        <input
          formControlName="gmail"
          placeholder="Email address"
          class="border rounded-sm py-2.5 indent-2 outline-color-blue border-b-color-neutralFour placeholder-color-neutralFour"
        />

        @if(formGroup.get('gmail')?.hasError('required')){
        <div class="flex gap-2 items-center">
          <svg
            class="mt-[0.3rem]"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.375 8.375L8.40957 8.35771C8.88717 8.11891 9.42493 8.55029 9.29542 9.06831L8.70458 11.4317C8.57507 11.9497 9.11283 12.3811 9.59043 12.1423L9.625 12.125M16.5 9C16.5 13.1421 13.1421 16.5 9 16.5C4.85786 16.5 1.5 13.1421 1.5 9C1.5 4.85786 4.85786 1.5 9 1.5C13.1421 1.5 16.5 4.85786 16.5 9ZM9 5.875H9.00625V5.88125H9V5.875Z"
              stroke="#CD3636"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p class="text-color-red py-1">Please, type a correct email</p>
        </div>
        } @else if(formGroup.get('gmail')?.hasError('email')) {
        <div class="flex gap-2 items-center">
          <svg
            class="mt-[0.3rem]"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.375 8.375L8.40957 8.35771C8.88717 8.11891 9.42493 8.55029 9.29542 9.06831L8.70458 11.4317C8.57507 11.9497 9.11283 12.3811 9.59043 12.1423L9.625 12.125M16.5 9C16.5 13.1421 13.1421 16.5 9 16.5C4.85786 16.5 1.5 13.1421 1.5 9C1.5 4.85786 4.85786 1.5 9 1.5C13.1421 1.5 16.5 4.85786 16.5 9ZM9 5.875H9.00625V5.88125H9V5.875Z"
              stroke="#CD3636"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p class="text-color-red py-1">Invalid Email</p>
        </div>
        } @else {
        <div class="flex gap-2 items-center">
          <svg
            class="size-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 48 48"
          >
            <path
              fill="#c8e6c9"
              d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"
            />
            <path
              fill="#4caf50"
              d="M34.586,14.586l-13.57,13.586l-5.602-5.586l-2.828,2.828l8.434,8.414l16.395-16.414L34.586,14.586z"
            />
          </svg>
          <p class="text-color-green py-1">Valid Email</p>
        </div>
        }
      </div>

      <!-- Password Input Validator -->
      <div class="relative flex flex-col justify-between">
        <input
          maxlength="26"
          minlength="6"
          type="password"
          formControlName="password"
          placeholder="Password"
          class="border outline-color-blue w-full rounded-sm py-2.5 indent-2 border-b-color-neutralFour placeholder-color-neutralFour"
        />
        <div
          class="absolute pl-[17.5rem] flex items-center pointer-events-none"
        >
          <svg
            class=""
            width="22"
            height="16"
            viewBox="0 0 22 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M20.1303 5.8531C21.2899 7.07317 21.2899 8.92683 20.1303 10.1469C18.1745 12.2047 14.8155 15 11 15C7.18448 15 3.82549 12.2047 1.86971 10.1469C0.710098 8.92683 0.710098 7.07317 1.86971 5.8531C3.82549 3.79533 7.18448 1 11 1C14.8155 1 18.1745 3.79533 20.1303 5.8531Z"
              stroke="#6C7275"
              stroke-width="1.5"
            />
            <path
              d="M14 8C14 9.65685 12.6569 11 11 11C9.34315 11 8 9.65685 8 8C8 6.34315 9.34315 5 11 5C12.6569 5 14 6.34315 14 8Z"
              stroke="#6C7275"
              stroke-width="1.5"
            />
          </svg>
        </div>

        @if(formGroup.get('password')?.hasError('required')){
        <div class="flex gap-2 items-center">
          <svg
            class="mt-[0.3rem]"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.375 8.375L8.40957 8.35771C8.88717 8.11891 9.42493 8.55029 9.29542 9.06831L8.70458 11.4317C8.57507 11.9497 9.11283 12.3811 9.59043 12.1423L9.625 12.125M16.5 9C16.5 13.1421 13.1421 16.5 9 16.5C4.85786 16.5 1.5 13.1421 1.5 9C1.5 4.85786 4.85786 1.5 9 1.5C13.1421 1.5 16.5 4.85786 16.5 9ZM9 5.875H9.00625V5.88125H9V5.875Z"
              stroke="#CD3636"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p class="text-color-red py-1">Please, type a correct password</p>
        </div>
        } @else {
        <div class="flex gap-2 items-center">
          <svg
            class="size-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 48 48"
          >
            <path
              fill="#c8e6c9"
              d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"
            />
            <path
              fill="#4caf50"
              d="M34.586,14.586l-13.57,13.586l-5.602-5.586l-2.828,2.828l8.434,8.414l16.395-16.414L34.586,14.586z"
            />
          </svg>
          <p class="text-color-green py-1">Valid Password</p>
        </div>
        }
      </div>

      <div class="flex justify-between">
        <div class="flex gap-2 items-center">
          <input
            formControlName="checkbox"
            class="h-5 w-5 flex rounded-md"
            type="checkbox"
            name=""
            id=""
          />
          <span class="text-color-neutralFour text-sm font-normal"
            >I agree with
            <a
              href="https://policies.google.com/privacy"
              target="_blank"
              class="text-color-primary font-bold"
              >Privacy Policy</a
            >
            and
            <a
              href="https://policies.google.com/terms"
              target="_blank"
              class="text-color-primary font-bold"
              >Terms of Use</a
            ></span
          >
        </div>
      </div>

      <button
        [disabled]="formGroup.invalid"
        type="submit"
        (click)="onSubmit()"
        [routerLink]="['/sign-in']"
        [ngClass]="
          formGroup.valid
            ? 'bg-color-primary hover:bg-color-neutralOne text-white rounded-lg flex justify-center items-center py-2.5 px-10'
            : 'bg-color-neutralFive text-color-primary font-semibold rounded-lg flex justify-center items-center py-2.5 px-10'
        "
      >
        Sign Up
      </button>
    </form>
  </div>
</div>
