<div class="flex flex-row w-full">
  <!-- Left Part -->
  <div class="flex">
    <img src="/assets/images/png/banner-prices.png" alt="Banner Prices" />
  </div>

  <!-- Right Part -->
  <div
    class="flex flex-col max-w-[45rem] w-full pl-[4.5rem] pr-20 justify-center bg-color-neutralSix"
  >
    <div class="flex flex-col gap-6 max-w-[28.25rem] w-full">
      <span class="flex text-base text-color-blue font-semibold"
        >SALE UP TO 35% OFF</span
      >
      <span class="flex text-5xl text-color-primary"
        >HUNDREDS of New lower prices!</span
      >
      <span class="flex text-xl text-color-neutralOne"
        >It’s more affordable than ever to give every room in your home a
        stylish makeover</span
      >

      <div
        [routerLink]="['/shop']"
        class="flex gap-2 items-center cursor-pointer"
      >
        <span class="flex font-semibold text-color-primary text-base underline"
          >Shop Now</span
        >
        <svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4.16666 10H15.8333"
            stroke="#141718"
            stroke-width="1.25"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M10.8333 15L15.8333 10"
            stroke="#141718"
            stroke-width="1.25"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M10.8333 5L15.8333 10"
            stroke="#141718"
            stroke-width="1.25"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
  </div>
</div>
