<div class="max-w-[90rem] w-full grid grid-cols-2 px-40 gap-6 mb-20">
  <!-- Left Part -->
  <div class="relative m-auto max-h-[41.5rem] max-w-[34.25rem] w-full">
    <img
      src="/assets/images/png/soffa.png"
      class="max-h-[41.5rem] max-w-[34.25rem] w-full"
      alt=""
    />
    <div
      class="absolute top-0 left-0 right-0 text-center flex flex-col gap-3 px-[2.8rem] py-10"
    >
      <span class="text-color-primary text-4xl font-semibold flex"
        >Living Room</span
      >
      <a
        class="underline flex items-center gap-2 text-color-neutralOne text-base font-semibold"
        [routerLink]="['/cart']"
        >Shop Now
        <svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4.16666 10H15.8333"
            stroke="#141718"
            stroke-width="1.25"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M10.8333 15L15.8333 10"
            stroke="#141718"
            stroke-width="1.25"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M10.8333 5L15.8333 10"
            stroke="#141718"
            stroke-width="1.25"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>
    </div>
  </div>

  <!-- Right Part -->
  <div class="relative flex flex-col gap-6">
    <div class="flex flex-col">
      <img
        src="/assets/images/png/fash.png"
        class="max-h-[19.938rem] max-w-[34.25rem] w-full bg-cover"
        alt=""
      />
      <div
        class="absolute max-w-[15.625rem] pt-[11.25rem] top-0 left-0 right-0 text-center flex flex-col gap-3 px-[2.8rem] pb-5"
      >
        <span class="text-color-primary text-4xl font-semibold flex"
          >Bedroom</span
        >
        <a
          class="underline flex items-center gap-2 text-color-neutralOne text-base font-semibold"
          [routerLink]="['/cart']"
          >Shop Now
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4.16666 10H15.8333"
              stroke="#141718"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M10.8333 15L15.8333 10"
              stroke="#141718"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M10.8333 5L15.8333 10"
              stroke="#141718"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </div>
    </div>

    <div class="flex flex-col">
      <img
        src="/assets/images/png/toster.png"
        class="max-h-[19.938rem] max-w-[34.25rem] w-full bg-cover"
        alt=""
      />

      <div
        class="absolute max-w-[15.625rem] bottom-0 left-0 right-0 text-center flex flex-col gap-3 px-[2.8rem] pb-5"
      >
        <span class="text-color-primary text-4xl font-semibold flex"
          >Kitchen</span
        >
        <a
          class="underline flex items-center gap-2 text-color-neutralOne text-base font-semibold"
          [routerLink]="['/cart']"
          >Shop Now
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4.16666 10H15.8333"
              stroke="#141718"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M10.8333 15L15.8333 10"
              stroke="#141718"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M10.8333 5L15.8333 10"
              stroke="#141718"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
