<div class="max-w-[90rem] w-full grid grid-cols-2 px-40 gap-6 mb-20">
  <!-- Left Part -->
  <div class="m-auto max-h-[41.5rem] max-w-[34.25rem] w-full h-full">
    <div>
      <span class="text-color-primary text-3xl font-semibold">Living Room</span>
    </div>
    <img
      src="/assets/images/png/soffa.png"
      class="max-h-[41.5rem] max-w-[34.25rem] w-full h-full"
      alt=""
    />
  </div>

  <!-- Right Part -->
  <div class="flex flex-col gap-6">
    <img
      src="/assets/images/png/fash.png"
      class="max-h-[19.938rem] max-w-[34.25rem] w-full h-full bg-cover"
      alt=""
    />

    <img
      src="/assets/images/png/toster.png"
      class="max-h-[19.938rem] max-w-[34.25rem] w-full h-full bg-cover"
      alt=""
    />
  </div>
</div>
